.location {
  display: flex;
  flex-direction: column;
  .location__container {
    flex: 1 1 auto;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }
}
