.philosophy {
  padding-top: 5%;
  height: 100vh;
  background: url("../../assets/images/philosophyBg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  .philosophy__title {
    text-transform: uppercase;
    text-align: center;
    color: #606060;
    font-family: "1000";
    font-size: 54px;
    font-style: normal;
    margin-bottom: 3%;
    &-crossline {
      color: #E8E8E8;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 115%;
        left: -7.5%;
        height: 3px;
        background-color: #E8E8E8;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .philosophy__subtitle {
    color: #808080;
    text-align: center;
    font-family: "Mariupol";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 3%;
  }
  .philosophy__text {
    color: #999;
    text-align: justify;
    font-family: "Mariupol";
    font-size: 16px;
    width: 40vw;
    margin: 0 auto;
  }
}